h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
}

body {
    background-color: #fff;
}


/***********************************
            Header CSS
************************************/

.container-header {
    background-color: #eeeaeb;
}

.container-inside-header {
    padding: 30px 200px 10px 200px;
}

.home-link a {
    color: #000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.home-link a:hover {
    color: rgba(0, 0, 0, 0.75);
}

.dash-link a {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.dash-link a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.link {
    text-align: right;
}

.clear {
    clear: both;
}

.navigation {
    padding: 0px;
    background-color: #e6c36e;
}

.navbar {
    margin: 0px 50px 0px 200px;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #000;
}

.nav-item a {
    color: #000;
}

.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
    background-color: #c8a551;
    color: #000;
}


/***********************************
              Slideshow
************************************/


/*******************************
              Side Panel
*******************************/

.row-with-border {
    border-bottom: 5px solid #e0e0e0;
}

.row-with-border .jumbotron {
    margin: 0;
    padding: 30px;
    border-radius: 0;
}

.side-panel {
    padding-top: 10px;
}

.side-panel a {
    color: #e6c36e;
}

.side-panel h2 {
    color: #e6c36e;
    font-weight: bold;
}

.side-img {
    margin-right: 15px;
    width: 120px;
    border: 6px solid #e0e0e0;
}


/************************/

.text-with-bg {
    background-color: #f4eede;
    font-weight: bold;
    padding: 2px 10px;
    border-left: 5px solid #e6c36e;
}
.box
{
    border-right: 1px solid #e0e0e0;
}
.hr-black
{
    border-color: inherit;
}
.logo
{
    vertical-align: center;
    margin: 40px;
}

/********************************
            Glimpse
********************************/

.img-glimpse {
    width: 100%;
    margin: 10px 0px 0px 0px;
    height: 100px;
    border: 4px solid #f4eede;
}

.glimpse a {
    color: #00f;
}
/********************************
            Logos
*********************************/

.our-partners
{
    margin-top: 10px;
}

/*********************************
            Footer
**********************************/
.footer-block
{
    background-color: #e6c36e;
}
.container-footer
{
    padding: 10px 50px 10px 200px ;
}
.footer-block ul li::before
{
    content:  "\00BB \0020";
}
.footer-disclaimer
{
    padding: 0px 50px 0px 200px;
    background-color: #947f4b;
}
