@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI.eot');
    src: url('SegoeUI.eot?#iefix') format('embedded-opentype'), url('SegoeUI.woff') format('woff'), url('SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Segoe UI';
}